@font-face {
  font-family: "iconfont"; /* Project id 3949813 */
  src: url("iconfont.woff2?t=1678710620512") format("woff2"),
    url("iconfont.woff?t=1678710620512") format("woff"),
    url("iconfont.ttf?t=1678710620512") format("truetype");
}

[class*="zj-icon"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zj-icon-danxuan:before {
  content: "\e71f";
}

.zj-icon-fangxingweixuanzhong:before {
  content: "\e720";
}

.zj-icon-fangxingxuanzhongfill:before {
  content: "\e721";
}

.zj-icon-fangxingxuanzhong:before {
  content: "\e722";
}

.zj-icon-guanbi1:before {
  content: "\e723";
}

.zj-icon-guanbi2fill:before {
  content: "\e724";
}

.zj-icon-guanbi2:before {
  content: "\e725";
}

.zj-icon-jiahao:before {
  content: "\e726";
}

.zj-icon-jiahao1:before {
  content: "\e727";
}

.zj-icon-jiahao2fill:before {
  content: "\e728";
}

.zj-icon-jianhao:before {
  content: "\e729";
}

.zj-icon-tishifill:before {
  content: "\e72a";
}

.zj-icon-tishi:before {
  content: "\e72b";
}

.zj-icon-wenhaofill:before {
  content: "\e72c";
}

.zj-icon-wenhao:before {
  content: "\e72d";
}

.zj-icon-xuanze:before {
  content: "\e72e";
}

.zj-icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.zj-icon-yuanxingxuanzhongfill:before {
  content: "\e730";
}

.zj-icon-yuanxingxuanzhong:before {
  content: "\e731";
}

.zj-icon-biaoxingfill:before {
  content: "\e732";
}

.zj-icon-biaoxing:before {
  content: "\e733";
}

.zj-icon-chexiao:before {
  content: "\e734";
}

.zj-icon-dianpufill:before {
  content: "\e735";
}

.zj-icon-dianpu:before {
  content: "\e736";
}

.zj-icon-dingdan:before {
  content: "\e737";
}

.zj-icon-fankui:before {
  content: "\e738";
}

.zj-icon-fenxiang:before {
  content: "\e739";
}

.zj-icon-gengduo:before {
  content: "\e73a";
}

.zj-icon-gonglve:before {
  content: "\e73b";
}

.zj-icon-gouwuchefill:before {
  content: "\e73c";
}

.zj-icon-gouwuche:before {
  content: "\e73d";
}

.zj-icon-gouwudai:before {
  content: "\e73e";
}

.zj-icon-qiapianxingshi:before {
  content: "\e73f";
}

.zj-icon-kefufill:before {
  content: "\e740";
}

.zj-icon-kefu:before {
  content: "\e741";
}

.zj-icon-liebiaoxingshi:before {
  content: "\e742";
}

.zj-icon-liuyanfill:before {
  content: "\e743";
}

.zj-icon-liuyan:before {
  content: "\e744";
}

.zj-icon-pengyoufill:before {
  content: "\e745";
}

.zj-icon-pengyou:before {
  content: "\e746";
}

.zj-icon-qingchu:before {
  content: "\e747";
}

.zj-icon-quan:before {
  content: "\e748";
}

.zj-icon-saoma:before {
  content: "\e749";
}

.zj-icon-shaixuan:before {
  content: "\e74a";
}

.zj-icon-shanchu:before {
  content: "\e74b";
}

.zj-icon-shezhi:before {
  content: "\e74c";
}

.zj-icon-shenfen:before {
  content: "\e74d";
}

.zj-icon-shizhongfill:before {
  content: "\e74e";
}

.zj-icon-shizhong:before {
  content: "\e74f";
}

.zj-icon-shouyefill:before {
  content: "\e750";
}

.zj-icon-shouye:before {
  content: "\e751";
}

.zj-icon-sousuo:before {
  content: "\e752";
}

.zj-icon-sousuoleimufill:before {
  content: "\e753";
}

.zj-icon-sousuoleimu:before {
  content: "\e754";
}

.zj-icon-taobao:before {
  content: "\e755";
}

.zj-icon-taojinbi:before {
  content: "\e756";
}

.zj-icon-tianmao:before {
  content: "\e757";
}

.zj-icon-tongzhifill:before {
  content: "\e758";
}

.zj-icon-tongzhi:before {
  content: "\e759";
}

.zj-icon-tuikuan:before {
  content: "\e75a";
}

.zj-icon-wangwangfill:before {
  content: "\e75b";
}

.zj-icon-wangwang:before {
  content: "\e75c";
}

.zj-icon-wodefill:before {
  content: "\e75d";
}

.zj-icon-wode:before {
  content: "\e75e";
}

.zj-icon-wuliu:before {
  content: "\e75f";
}

.zj-icon-xihuanfill:before {
  content: "\e760";
}

.zj-icon-xihuan:before {
  content: "\e761";
}

.zj-icon-xinxifill:before {
  content: "\e762";
}

.zj-icon-xinxi:before {
  content: "\e763";
}

.zj-icon-youhuiquan:before {
  content: "\e764";
}

.zj-icon-yuyan:before {
  content: "\e765";
}

.zj-icon-zhengli:before {
  content: "\e766";
}

.zj-icon-zuji:before {
  content: "\e767";
}

.zj-icon-zuobiaofill:before {
  content: "\e768";
}

.zj-icon-zuobiao:before {
  content: "\e769";
}

.zj-icon-dibu:before {
  content: "\e76a";
}

.zj-icon-dingbujinzhi:before {
  content: "\e76b";
}

.zj-icon-dingbu:before {
  content: "\e76c";
}

.zj-icon-xiangshang1:before {
  content: "\e76d";
}

.zj-icon-xiangshang2:before {
  content: "\e76e";
}

.zj-icon-xiangshang3:before {
  content: "\e76f";
}

.zj-icon-xiangshang5:before {
  content: "\e770";
}

.zj-icon-xiangxia1:before {
  content: "\e771";
}

.zj-icon-xiangxia2:before {
  content: "\e772";
}

.zj-icon-xiangxia3:before {
  content: "\e773";
}

.zj-icon-xiangxia5:before {
  content: "\e774";
}

.zj-icon-xiangyou1:before {
  content: "\e775";
}

.zj-icon-xiangyou2:before {
  content: "\e776";
}

.zj-icon-xiangyou3fill:before {
  content: "\e777";
}

.zj-icon-xiangyou3:before {
  content: "\e778";
}

.zj-icon-xiangzuo1:before {
  content: "\e779";
}

.zj-icon-xiangzuo2:before {
  content: "\e77a";
}

.zj-icon-xiangji1fill:before {
  content: "\e77e";
}

.zj-icon-xiangji1:before {
  content: "\e77f";
}

.zj-icon-xiangji2:before {
  content: "\e780";
}

.zj-icon-jiazai:before {
  content: "\e781";
}

.zj-icon-shuaxin:before {
  content: "\e782";
}

.zj-icon-wifi:before {
  content: "\e783";
}

.zj-icon-hongbao:before {
  content: "\e784";
}

.zj-icon-xinyongqia:before {
  content: "\e785";
}

.zj-icon-shoujitaobao:before {
  content: "\e786";
}

.zj-icon-yonghufill:before {
  content: "\e787";
}

.zj-icon-yonghu:before {
  content: "\e788";
}

.zj-icon-juhuasuan:before {
  content: "\e789";
}

.zj-icon-salefill:before {
  content: "\e78a";
}

.zj-icon-sale:before {
  content: "\e78b";
}

.zj-icon-zengsong:before {
  content: "\e78c";
}

.zj-icon-androidgengduo:before {
  content: "\e78d";
}

.zj-icon-leimu:before {
  content: "\e78e";
}

.zj-icon-bangzhuzhongxin:before {
  content: "\e78f";
}

.zj-icon-caidan:before {
  content: "\e790";
}

.zj-icon-zantongfill:before {
  content: "\e793";
}

.zj-icon-zantong:before {
  content: "\e794";
}

.zj-icon-xiangshang4:before {
  content: "\e795";
}

.zj-icon-xiangxia4:before {
  content: "\e796";
}

.zj-icon-dianhua:before {
  content: "\e797";
}

.zj-icon-danpin:before {
  content: "\e7ab";
}

.zj-icon-duozhongzhifu:before {
  content: "\e7ac";
}

.zj-icon-erweima:before {
  content: "\e7ad";
}

.zj-icon-guojiwuliu:before {
  content: "\e7ae";
}

.zj-icon-huwai:before {
  content: "\e7b0";
}

.zj-icon-jujia:before {
  content: "\e7b1";
}

.zj-icon-kuzi:before {
  content: "\e7b2";
}

.zj-icon-muying:before {
  content: "\e7b4";
}

.zj-icon-nanzhuang:before {
  content: "\e7b5";
}

.zj-icon-neiyi:before {
  content: "\e7b6";
}

.zj-icon-nvzhuang:before {
  content: "\e7b7";
}

.zj-icon-pinpai:before {
  content: "\e7b8";
}

.zj-icon-tequanzhuanshu:before {
  content: "\e7b9";
}

.zj-icon-xiangbao:before {
  content: "\e7ba";
}

.zj-icon-yishouchu:before {
  content: "\e7bb";
}

.zj-icon-others:before {
  content: "\e7bc";
}

.zj-icon-danxuanfill:before {
  content: "\e71e";
}
